<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Chill Tracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Feed
            <!--<span class="sr-only">(current)</span>--></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/your-page">Your Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Community Stats</a>
        </li>
      </ul>
      <span class="navbar-text">
        <% if(!loggedInUser) {%>
        <a href="/auth/twitch" class="btn btn-primary text-white"
          >Login with Twitch</a
        >
        <% } else { %> <%= loggedInUser.login %>
        <a href="/logout" class="btn btn-danger text-white btn-sm ml-3">Logout</a> <% }
        %>
      </span>
    </div>
  </div>
</nav>
