<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged Out</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/navbar') %>
      <br />
      <h1>You've logged out</h1>
      <p>We'll miss you!</p>
      <p>Want to log back in? <a href="/auth/twitch">Click Here</a></p>
    </div>
  </body>
</html>
