<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <h1>Feed</h1>
      <p>Add your latest log on <a href="/your-page">Your Page</a></p>
      <h3>Latest logs</h3>
      <div class="feed"></div>
    </div>
    <script src="/js/feed.js"></script>
  </body>
</html>
