<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chill Tracker</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <h1>Chill Tracker</h1>
    <a href="/auth/twitch" class="btn btn-primary">Login with Twitch</a>
  </body>
</html>
