<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Stats</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <h1>Community Stats</h1>
      <div id="statCounter" class="d-flex flex-wrap m-1" style="">
        <div
          id="user-counter"
          class="border m-2 text-center flex-fill"
          style="height: 200px; min-width: 200px;"
        >
          <div id="userCounterText" style="padding-top: 40px;">
            <div id="usercount" class="display-4"><%= userCount %></div>
            <div id="userCountText">Users</div>
          </div>
        </div>
        <div
          id="log-counter"
          class="border m-2 text-center flex-fill"
          style="height: 200px; min-width: 200px;"
        >
          <div id="logCounterText" style="padding-top: 40px;">
            <div id="logcount" class="display-4"><%= logCount %></div>
            <div id="logCountText">Logs/Days Completed</div>
          </div>
        </div>
      </div>
      <br />
      <div id="statsdiv" class=""></div>
    </div>
    <script src="/js/stats.js"></script>
  </body>
</html>
